<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #B3CEEA;" id="navbar">
  <div class="container-fluid">
      <ul class="navbar-nav" class="navbar-brand">
        <li class="nav-item">
          <a class="nav-link" href="home.html">Home</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="nav-item dropdown">
        <button class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../resources/img/profile_circle_icon.png" width="25" height="25">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Test</a></li>
          <li><a class="dropdown-item" href="#">Test2</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Login/Register</a></li>
        </ul>
      </ul>    
  </div>
</nav>