<div class = "row" style="background-color: lightgray;">
        <div class="col">
            <img src="/img/profile_circle_icon.png" width="60%">
        </div>
    </div>
    <div class = "row" style="background-color: lightgray;">
        <div class="col" style="font-size: xx-large;">
            <p>Placeholder Name</p>
            <p>{{reg.user.name}}</p>  {{!-- need to alter this path once the routes for login are finished --}}
            <p>Placeholder Email</p>
        </div>
    </div>
    <div class = "row" style="background-color: lightgray;">
        <div class="col">
            <p>money!!!: {{reg.user.money}}</p> {{!-- need to alter this path once the routes for login are finished --}}
            <p>Cards Held: </p> {{!-- count all cards user has and put here--}}
        </div>
    </div>
