#dropdown_icon {  
  margin-top: auto;
  margin-bottom: auto;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#main_search{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-left: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
  background-image: url('../img/search_icon.png');
  background-size: 15px 15px;
  background-position: 5px 5px;
  background-repeat: no-repeat;
}

#main_submit{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#copyright{
  font-size: 0.625em;
  color: gray;
  text-align: center;
}

#navbar{
  background-color: #B3CEEA;
}

#set_name_and_rarity{
  text-transform: capitalize;
} 
