       <main>
            <br>
            <br>
            <img src="/img/Rhystic.png" id="logo">
            <form method="get" action="/store/search">
                <input type="search" id="main_search" name="q">
                <br>
                <input type="submit" value="Search for Cards" id="main_submit">
            </form>
        </main>
