       <main>
            <img src="resources/img/Rhystic.png" id="logo">
            <form>
                <input type="search" id="main_search">
                <br>
                <input type="submit" value="Search for Cards" id="main_submit">
            </form>
        </main>

        