<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        <main class="form-container">
            <h1>Login</h1>
            <form action="/login" method="POST" class="form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <input type="submit" value="Login" class="btn">
            </form>
            <a href="/signup" class="link">Register</a>
        </main>
    </div>
</body>
</html>

